<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load mathfilters %}
    {% load staticfiles %}
    <!-- <script src="{% static "main/js/test.js" %}"></script> -->
    <script src="{% static "main/js/jquery.min.js" %}"></script>
    <script src="{% static "main/js/bootstrap.min.js" %}"></script>
    <script src="{% static "main/js/maskedinput.js" %}"></script>
    <script src="{% static "main/js/main.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/stylename.css' %}">
     <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>

<form method="POST" action="" class="" name="myform" enctype="multipart/form-data">{% csrf_token %}

  <div class="lside result">
    {% if photo_url or photo_url2 %}
    <img id='photo_url' src="{% static photo_url %}" alt="Для сравнения исходной фотографии и визуализации алгоритма, наведите на фотографию" width="500px" height="420px" align="center" style="margin-top:7px;margin-left:7px;display:block;">
    <img name="result_image" id='photo_url2' src="{% static photo_url2 %}" alt="Для сравнения исходной фотографии и визуализации алгоритма, наведите на фотографию" width="500px" height="420px" align="center" style="margin-top:7px;margin-left:7px;position:absolute;top:0px">
    {% endif %}
    {% if result %}
    {{ result|safe }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">p-value*</button>
    {% endif %}

  </div>
  <div class="rside">
    <div class="check_test">
      <p>
      <label><input type="radio" name="type_of_analysis" value="opisthorchiasis"> opisthorchiasis</label>
      <br>
      <label><input type="radio" name="type_of_analysis" value="anova" checked> anova</label>
      </p>
    </div>

      <img height="62px" width="62px" alt="Изображение для примера" class="my_img" src="{% static 'main/img/2.png' %}"/>
      <ol>
          <li class="TextNormal"><p>Detector for opisthorchiasis</p></li>
          <li class="TextNormal"><p>Only stained samples</p></li>
          <li><a href="static/main/sample.xlsx" download>Sample for anova</a></li>
      </ol>

      <div class="file_upload" style="background: url('{% static 'main/img/4.png' %}'); background-size: cover;">
          <label>
              <input type="file" name="image" accept="image/x-png, image/jpeg, application/vnd.ms-excel">
              <span>upload image</span>
          </label>
      </div>
      <button type="submit" class="btn button_submit"><span>Analyze</span></button>
  </div>
</form>
{% block javascript %}
<script type="text/javascript">

  // var cc = myform.result_image,  events  = ['mouseover'];
  // for (var i in events) {
  //   cc.addEventListener(events[i], formatCardCode, false);
  // }
  // function formatCardCode() {
  //   cc.className += "otherclass";
  // }

  var cc = myform.result_image;
  cc.addEventListener('mouseover', formatCardCode, false);
  function formatCardCode() {
    cc.classList.add('hide');
  }
  cc.addEventListener('mouseout', delClass, false);
  function delClass() {
    cc.classList.remove('hide');
  }

</script>
{% endblock %}

<!-- Небольшой модальное окно -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p>р (х) < 0,01 очень убедительные доказательства</p>
      <p>p (X) ∈ (0.01, 0.05) убедительные доказательства</p>
      <p>p (X) ∈ (0,05, 0,1) слабые доказательства</p>
      <p>p (X)> 0,1 мало или вообще нет доказательств</p>
    </div>
  </div>
</div>

</body>
</html>
